doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Im치genes Adicionales
    link(rel="stylesheet", href="/css/imagenExtra.css")
  body
    header
      h1 Im치genes Adicionales
      
    // Contenedor para mostrar solo las im치genes adicionales
    if objeto.additionalImages && objeto.additionalImages.length > 0
      .container-imagenes
        each image in objeto.additionalImages
          img(src=image, alt='Imagen adicional', class="imagen-extra")
    else
      p No hay im치genes adicionales disponibles.
