body {
    padding: 140px 250px 40px;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url('/images/museo_fondo.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header.fijo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    padding: 20px 50px;
    z-index: 1000;
    box-shadow: none;
    height: 150px;
}

h1 {
    font-family: 'Metamorphous', serif;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.container-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.filtros-contenedor {
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 1000px;
    width: auto;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtro-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 150px;
    font-size: 12px;
}

.filtros {
    display: flex;
    gap: 15px;
}

input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 150px;
    flex: 1;
}

.navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(220, 220, 220, 0));
    z-index: 1000;
    height: 80px;
}

.botones-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#paginaTexto {
    color: white;
    margin: 0 20px;
    margin-top: 10px;
}

button {
    width: 150px;
    height: 40px;
    padding: 10px 15px;
    background-color: #1eab91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #087139;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    max-width: 1300px;
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
}

.carta {
    margin: 5px;
    min-width: 160px;
    width: calc(100% - 10px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta img {
    width: 100%;
    max-height: 250px;
    max-width: 80%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.info-container {
    text-align: center;
    flex-grow: 1;
}

.ver-imagenes-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    background-color: #8d8f8e;
    color: white;
    cursor: pointer;
    margin-top: 2px;
    height: auto;
    z-index: 1;
}

.carta h3 {
    font-size: 1.2em;
    margin: 10px 0;
    margin-bottom: 30px;
}

.carta h4 {
    margin-top: -10px;
    font-weight: 400;
    font-size: 0.9em;
}

.carta h5 {
    margin-bottom: 15px;
}

.carta-title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 1.5em;
    color: #333;
    width: 100%;
    text-align: center;
}

.carta-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carta-info p {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ver-imagenes-btn:hover {
    background-color: #087139;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.loader:before {
    content: '';
    border: 8px solid #f3f3f3;
    border-top: 8px solid #1eab91;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.red-bg {
    background-color: rgba(255, 0, 0, 0.3);
}

.error {
    border: 2px solid red;
}

@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(0); }
}

.vibrar {
    animation: vibrate 0.3s ease;
}

.mensaje-no-resultados {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.no-resultados {
    text-align: center;
    margin: 20px 0;
    color: #2b2b2b;
    font-size: 16px;
}

@media (max-width: 1200px) {
    body {
        padding: 60px 20px;
    }

    header {
        padding: 15px 30px;
    }

    .filtros-contenedor {
        margin-top: -10px;
    }

    #gallery {
        padding: 10px;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        margin-top: 100px;
    }

    h1 {
        font-size: 1.4em;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.2em;
    }

    button {
        width: 100px;
    }
}
